<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Doctyrine News</title>
    </head>
    <body>
        <h2>Page modif</h2>

        {{form_start(formSalon,{'attr':{'action':path('modifSalon',{'id':id})}})}}
        
        

        {{form_end(formSalon)}}




    </body>

</html>
