<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Administration:Ajout</title>
    <h2>Ajouter du Contenu</h2>
   {# <form action="http://merdia" enctype="multipart/from-data">
        
    </form>#}
        {{form_start(formNews,{'attr':{'action':path('valid'),'enctype':'multipart/form-data'}})}}
            
        {{form_end(formNews)}}
    </head>
    <body>

    </body>

</html>
