{% extends "base.html.twig" %}

{% block nav %}  {# Nav bar par default #}
       {# <nav class="nav1 navbar navbar-default navbar-fixed-top">
            <button type="button" class="navbar-toggle icon-bar" data-toggle="collapse" id="inputResponsive" data-target="#myNavbar">

            </button>
            <header class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Salon de thé</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Gateaux</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Restauration</a></li>
                </ul>
            </header>
            <ul class="contact">
                <img id="logo" src="./../images/large_fun-in-the-sun-title.png" alt="logo">
                <li>Quelle section</li>
                <li>Modif ?</li>
            </ul>
        </nav>#}
    {% endblock %}
    
    {% block corp %}
         <div class="thumbnail">      
            <form action="{{path('loginCheck',{}) }}" method="post">
            <input type="text" id="nom" name="_username" placeholder="Nom d'utilisateur" value=""/>
            <input type="password" id="pass" name="_password" placeholder="Mot de passe" value=""/>
            <input type="submit" value="se connecter"/>
        </form>
            </div>
    {% endblock %}
