#admiSalon{
  margin-top: 200px;  
}

#salonListeBox{
   
}
.salonListe{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 2%;
    margin-top: 10px;
    background-color: $color1;
    
}