#headerHome{    /*  Img de garde  */ 
    background: url("../images/patisseries-sobre.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#tof{
    height: 500px;
    background-color: red;
}

#text{
    height:500px;
    background-color:gold;
}