

body{
    background-color:$color2;

    #headerHome{    /*  Img de garde  */ 
        background: url("../images/patisseries-sobre.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }


    #contHome{
       @include borderShadoow;
       padding:0px;
       
        #tof{
            background-color:$color3;


            div{
               @include borderShadoow;
                text-align: center;
                margin-top: 50%;
                width:200px;
                margin: auto;
                font-family: base;


                img{
                    height: 300px;
                    position:inherit;
                }

            }
        }
    }

    #text{
        background-color:$color1;
        padding-top: 265px;
         
        div{
           text-align: center;
                margin-top: 50%;
                margin: auto;
                font-family: baseBold;
                font-size: 30px;
                p{
                    
                }
            
        }

    }

}

