/*____________________________Couleur_______________________________*/
/*____________________________Fonts_______________________________*/
@font-face {
  font-family: base;
  src: url(../../web/fonts/Cantarell-Regular.ttf); }
@font-face {
  font-family: baseBold;
  src: url(../../web/fonts/Cantarell-Bold.ttf); }
/*____________________________BorderShadoow_______________________________*/
body {
  background-color: #f4a32e; }
  body #headerHome {
    /*  Img de garde  */
    background: url("../images/patisseries-sobre.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  body .container {
    -webkit-box-shadow: -2px 4px 22px 11px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: -2px 4px 22px 11px rgba(0, 0, 0, 0.34);
    box-shadow: -2px 4px 22px 11px rgba(0, 0, 0, 0.34);
    padding: 0px; }
    body .container #tof {
      background-color: #fa482e; }
      body .container #tof div {
        -webkit-box-shadow: -2px 4px 22px 11px rgba(0, 0, 0, 0.34);
        -moz-box-shadow: -2px 4px 22px 11px rgba(0, 0, 0, 0.34);
        box-shadow: -2px 4px 22px 11px rgba(0, 0, 0, 0.34);
        text-align: center;
        margin-top: 50%;
        width: 200px;
        margin: auto;
        font-family: base; }
        body .container #tof div img {
          height: 300px;
          position: inherit; }
  body #text {
    background-color: #ffcc88;
    padding-top: 265px; }
    body #text div {
      text-align: center;
      margin-top: 50%;
      margin: auto;
      font-family: baseBold;
      font-size: 30px; }

/*--------------------------NavBar-------------------------*/
.nav1 {
  border: 0px; }

.navbar-default {
  background-color: #097168 !important;
  color: #f4a32e;
  font-family: baseBold;
  font-size: 30px;
  opacity: 0.8;
  padding: 45px; }

.nav-link {
  color: #f4a32e !important; }

.nav1 {
  border: 0px; }

.navbar-default.bigcontent {
  font-size: 25px;
  padding: 0px;
  background-color: white;
  opacity: 1;
  transition: all 0.5s ease-in-out; }

.navbar-default > :first-child {
  padding: 0px;
  display: flex;
  float: right;
  width: 10px;
  justify-content: space-around;
  margin: 2%;
  list-style: none; }

ul.nav.navbar-nav {
  float: right; }

.contact {
  float: right;
  position: absolute;
  top: 10px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 87px;
  list-style: none;
  font-family: base; }

.contact.cache {
  visibility: hidden; }

nav img {
  height: 50px;
  margin-left: 379px;
  height: 146px;
  position: absolute;
  top: 15px; }

img.logoNav {
  transition: all 0.5s ease-in-out;
  margin-left: 0px;
  height: 95px;
  position: absolute;
  top: -5px; }

@media screen and (min-width: 768px) {
  .navbar-collapse.collapse {
    display: none !important; }

  .bigcontent .navbar-collapse.collapse {
    display: block !important; } }
@media screen and (min-width: 1150px) {
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0; }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; }

  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none; } }

/*# sourceMappingURL=main.css.map */
