{%extends "base.html.twig"%}


{% block head %}{{parent()}}{% endblock %}

{% block body %}{{parent()}}{% endblock %}

{% block corp %}
    <header id='headerHome'></header> 
    <div class='container'>
        
            <div id="tof" class="col-lg-6" ></div>
            <div id="text" class="col-lg-6" ></div>
        
           
    </div>
    <script type="text/javascript" src="{{asset('./bundles/framework/js/scriptHome.js')}}"></script> 
{% endblock %}

