{%extends "base.html.twig"%}


{% block head %}{{parent()}}{% endblock %}

{% block body %}{{parent()}}{% endblock %}

{% block corp %}
    <header id='headerHome'></header> 
    <section id="contHome" class='container'>
        
        <div id="tof" class="col-lg-6 col-md-6 " >
            <div>
                <h2>Lorem ipsum dolor</h2>
                <img src="{{asset("/images/Profil.jpg")}}" class="img-thumbnail" alt="Photo M " width="270" height="300">
            </div>            
        </div>
        <div id="text" class="col-lg-6 col-md-6 " >
            <div>
                <p>Nunc porttitor tellus ut arcu mollis pulvinar. Praesent mollis justo ut neque ultricies, in pretium felis pellentesque</p>
            </div>
        </div>
        

</section>
    <script type="text/javascript" src="{{asset('./js/scriptHome.js')}}"></script> 
{% endblock %}

